@page
@using ICI.ProvaCandidato.Web.Pages.Home
@model HomeModel
@if (ViewData != null)
{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    <div class="tabs">
        <ul class="nav nav-tabs" id="homeTabs" role="tablist">
            <li class="nav-item">
                <button id="tag-btn" type="button" class="btn btn-secondary active" data-target="#tabTags">Tags</button>
            </li>
            <li class="nav-item">
                <button id="noticia-btn" type="button" class="btn btn-secondary" data-target="#tabNoticias">Noticias</button>
            </li>
            <li class="nav-item">
                <button id="leitura-btn" type="button" class="btn btn-secondary" data-target="#tabLeitura">Noticias</button>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tabTags" class="tab-pane active">
                <div>
                    <h2>TAGS</h2>
                    <div>
                        <form id="createTagForm">
                            <input name="createTag" type="text" maxlength="15" required />
                            <button type="submit">Criar Tag </button>
                        </form>
                        <br />
                        <form id="deleteTagForm">
                            <input name="deleteTag" type="text" maxlength="15" required />
                            <button type="submit">Deletar Tag </button>
                        </form>
                    </div>
                    <hr style="color: black; width: 30rem;">
                    <div id="tagConteiner">
                    </div>
                    <hr style="color: black; width: 30rem;">
                </div>
            </div>
            <div id="tabNoticias" class="tab-pane">
                <div>
                    <h2>Noticias</h2>

                    <table>
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Texto</th>
                                <th>Usuario</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody id="noticiaTable">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tabLeitura" class="tab-pane">
                <h2>Leitura</h2>
                <div id="leituraConteiner"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/siteFlow.js"></script>